* {
    margin: 0;
    padding: 0;

}

.company {
    margin-top: 80px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

nav {
    height: 100%;
    width: 260px;
    padding: 20px;
    position: fixed;
    font-size: 20px;
    background-color: #f44336;
    color: white;
    z-index: 1;

}

.menu {
    margin-top: 60px;

}

.menu a {
    display: block;
    line-height: 25px;
    text-decoration: none;
    margin-top: 0px;
    padding: 10px;
    width: 220px;
    color: white;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.menu a:hover {
    color: black;
    background: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

main {
    margin-left: 330px;
    margin-right: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    font-family: "Poppins", sans-serif;
}

.heading {
    height: 240px;
    padding: 20px;
    padding-top: 60px;



}

.heading h1 {
    margin-top: 40px;
    font-size: 64px;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

.heading h2 {
    font-size: 48px;
    color: #f44336;
    margin-bottom: 30px;
}

.heading p {
    height: 10px;
    width: 60px;
    background: #f44336;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gridimg {
    display: flex;
    box-sizing: inherit;
    width: 100%;
    margin-left: 30px;


}

.leftgridimg img {
    width: 100%;
    margin-top: 10px;
    filter: opacity(0.7);
}

.leftgridimg img:hover {
    filter: opacity(1);
}

.rightgridimg img {
    width: 100%;
    margin-top: 10px;
    filter: opacity(0.7);

}

.rightgridimg img:hover {
    filter: opacity(1);
}

.leftgridimg {
    width: 540px;

}

.rightgridimg {
    width: 540px;
    margin-left: 20px;
}

.services {
    box-sizing: inherit;
    width: 100%;
    margin-left: 30px;


}

.services h1 {
    margin-top: 40px;
    font-size: 48px;
    color: #f44336;
    margin-bottom: 30px;
}

.services h2 {
    height: 10px;
    width: 60px;
    background: #f44336;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.services p {
    width: 1100px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    height: 220px;
    line-height: 25px;
}

.designers {

    padding: 0 8px;
    box-sizing: inherit;
}

.designersimg {
    margin-left: 40px;
    display: flex;

}

.designersbox img {
    width: 350px;

}

.designersbox {
    background: rgb(232, 230, 230);
    height: 400px;

    width: 350px;
    margin-right: 20px;
    margin-top: 10px;
}

.designersbox h2,
h4,
p {
    margin-top: 20px;
}

.Packages {
    box-sizing: inherit;
    width: 100%;
    margin-left: 30px;


}

.Packages h1 {
    margin-top: 40px;
    font-size: 48px;
    color: #f44336;
    margin-bottom: 30px;
}

.Packages h2 {
    height: 10px;
    width: 60px;
    background: #f44336;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Packages p {
    width: 1100px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    height: 150px;
    line-height: 25px;
}

.leftlist {
    height: 530px;
    width: 550px;
    list-style-type: none;
    margin-right: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f1f1f1;
}

.leftlist ul {
    list-style-type: none;
    line-height: 40px;


}

.leftlist ul li {

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.rightlist {
    height: 530px;
    width: 550px;
    list-style-type: none;
    margin-right: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f1f1f1;
}

.rightlist ul {
    list-style-type: none;
    line-height: 40px;
}

.rightlist ul li {

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.list {
    display: flex;
    margin-left: 30px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

.leftlist button {

    height: 50px;
    width: 100px;
    border: 0px;
    background: white;
}

.rightlist button {

    height: 50px;
    width: 100px;
    border: 0px;
    color: white;
    background: #f44336;
}

.leftlist .title {
    height: 70px;
    font-size: 28px;
    text-align: center;
    background: #616161;
    color: white;

}

.rightlist .title {
    height: 70px;
    font-size: 28px;
    text-align: center;
    background: #f44336;
    color: white;

}